<h2>Seu recibo de devolução</h2>

<h4>Cliente:</h4>
<p>Nome: <%= @customer.name %></p>

<h4>Veículo:</h4>
<p><%= "#{@car.car_model.name} - #{@car.license_plate}" %></p>

<h4>Locação:</h4>
<p>Codigo: <%= @rental.rented_code %></p>
<p>Data de devolução: <%= @rental.finished_at %></p>
